.navigation { 
    margin-top: 1rem ;
    position: relative;
    &__nav {
        //float: right;
        position: absolute;
        
        right: 0;
    }

    &__list {
        list-style: none;
        margin: 1rem;
        

    }

    &__item {
        display: inline-block;
        font-size: 1.6rem;
        margin-right: 1.6rem;
       
    }

    &__link {
        
        &:link,
        &:visited {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 4px;
        color: $color-grey-dark-3;
        transition: all .2s;
        word-spacing: 6px;
        height: 5px;
        width: 100%;
        display: block;
    
        }

        &--btn {/*
            border: 5px solid transparent;
            padding: 5px  5px 3px 5px;
            background-image: linear-gradient(to right, rgba($color-primary,1) 10%, rgba($color-secondary-light,1));
            //background-clip: padding-box;
            border-image-slice: 1;
            background-color: #ffffff;
            */
            word-spacing: 6px;

            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 1rem;
            color: $color-grey-dark-3;
            display: inline-block;
            align-items: center;
            //width: 50vw;
            width: 100%;
            margin: auto;
            //max-width: 22em;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
          ;
            position: relative;
            padding: .3rem .8rem;
            box-sizing: border-box;

            $border: 5px;
            color: #ffffff;
            background: rgba(3, 3, 3, 0.6);
            background-clip: padding-box; /* !importanté */
            border: solid $border transparent; /* !importanté */
            border-radius: .6rem;

            &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -$border; /* !importanté */
            border-radius: inherit; /* !importanté */
            background: linear-gradient(to right, rgba($color-primary,1), rgba($color-secondary-light,1));
            transition: all .2s;
            }
        }
        
        &--btn:hover,
        &--btn:active {
            background: rgba(9, 9, 9, .1);
            
            //margin: 0;
            //padding: 0;
            //box-sizing: content-box;
        }
        &--btn:active {
            background: rgba(3, 3, 3, 0);
            transform: translateY(-2px);
        }
        &:hover,git 
        &:active {
            
            display: block;
            height: 5px;
            width: 100%;
            //border: solid 1px #CCC;
            //border-bottom: none;
            //position: relative; 
            position: relative;
            //bottom: 10; 
             
            
        }

        &:hover:after,
        &:active:after {
            content:"";
            background: linear-gradient(to right, rgba($color-primary,1), rgba($color-secondary-light,1));
            display: block;
            height:5px;
            width: 100%;
            position: absolute;
            bottom: 10;
            margin-top: 3px;      
        }
    }

    
    &__logo-box {
        
        margin: .5rem 0 .5rem 1.5rem;
        position: absolute;
        left: 0;
        


        &-link {
            text-decoration: none;
        }
    }
    &__logo {
        height: 4.5rem;
    }
}