.btn-text {
    &:link,
    &:visited {
        
    transition: all .2s;

    padding: 1.5rem 4rem;
    border-radius: 6px;
    background: linear-gradient(to right, rgba($color-primary,1), rgba($color-secondary-light,1));
    color: $color-white;
    font-size: 1.3rem;
    text-decoration: none;
    box-shadow: 0 2px 5px #666;
    display: inline-block;
    }


    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}