body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    /* Font-size: 16px */
    line-height: 1.7;
    color: $color-grey-dark;
}
.header {
    position: relative;
}
.heading__primary {
    color: $color-white;
    position: absolute;
    display: block;
    
    &--main{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 5rem;
    
    top: 40%;
    left: 40%;
    }

    &--sub {
        display: block;
        margin-top: 4rem;
        //font-weight: 700;
        font-size: 3.5rem;
        top: 50%;
        left: 20%;
        text-transform: capitalize;
        text-align: center;
        font-weight: 350;
    }
}

.heading__secondary {
    font-size: 3.2rem;
    color: $color-grey-dark-2;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;

     
        
    padding-bottom: 8rem;
        //text-decoration: none;
      
      
      &::after {
        content: "";
        display: block;
        margin: 2rem auto 0 auto;
        
        height: 2px;
        width: 25%;
        
        background: linear-gradient(to right, rgba($color-primary,1), rgba($color-secondary-light,1));
       }

}